<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>WBMP Image Converter</title>
  </head>
  
  <body>
    <p>Please, select a file to be uploaded:</p>

    <!-- START:upload_form -->    
    <% form_for :image, @image_data,
      :url  => { :action    => 'convert' },
      :html => { :multipart => true } do |f| %>
      
      <label for='image_data_file_data'>Convert Image:</label>
      <%= f.file_field :file_data %><br/>
      <%= submit_tag 'Convert' %>
    <% end %> 
    <!-- END:upload_form -->    
  </body>
</html>
